h1 {
  font-size: var(--fontTitle);
  font-style: var(--fontStyleTitle);
}

.header {
  background-color: var(--backgroundHeader);
}

@media only screen and (min-width: 411px) {

  .header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    margin: 3rem;
  }

  .header__titles {
    width: 44vw;
  }

  .h2-like {
    font-size: var(--fontSubtext);
    font-style: var(--StyleText);
  }

  .h1-like {
    font-size: var(--fontTitle);
    font-weight: 500;
    line-height: 2.8rem;
  }
}

@media only screen and (min-width: 823px) {

  .layout {
    display: grid;
    grid-template-areas:
    'titles order'
    'price order';
  }

  .header {
    width: 33vw;
  }

  .header__titles {
    grid-area: titles;
    align-self: self-start;
  }

  .img--full {
    position: absolute;
    left: 90px;
    top: 600px;
  }
}
