h1 {
  font-size: var(--fontTitle);
  font-style: var(--fontStyleTitle);
}

@media only screen and (min-width: 411px) {

  .header__titles {
    background-image: url(../assets/img/plan-based-coffee.png);
    background-repeat: no-repeat;
    width: 44vw;
    align-self: right;
  }
}
