.price {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.price__button {
  width: 17rem;
  border-radius: .6rem;
  background-color: var(--backgroundButton);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price__button__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
}

.price__button__name {
  font-size: var(--fontText);
  line-height: 2.1rem;
  margin-top: 1.2rem;
}

.price__button__amount {
  font-size: var(--fontSubtext);
  color: #9c9c9c;
  margin-top: .4rem;
  margin-bottom: 1rem;
}

.price__button__plus {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  background-color: var(--plusBackground);
  font-size: 2.4rem;
  border-radius: .4rem;
  align-self: right;
}
