:root {
  --backgroundColor: #f9d2cb;
  --orderBackgroundColor: white;
  --textColor: #212121;
  --margin: 3rem;
  --fontTitle: 2.6rem;
  --fontText: 1.8rem;
  --fontSubtext: 1.2rem;
  --fontStyleTitle: bold;
  --fontStyleText: medium;
}
