@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/pricelist.css';
@import './css/order.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: roboto, sans-serif;
  background-color: var(--backgroundHeader);
  color: var(--textColor);
  margin: 3rem;
}

.visually-hidden {
  display: none;
}
/* strong {
  font-weight: var(--fontStyleText);

  @nest p & {
     [TODOLABO]: enkel om @nest  voorbeeld aan te halen, je hoeft niets aan te passen
    color: darkorange;
  }
} */
