@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: 2rem;
  font-family: roboto, sans-serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  margin: 3rem;
}

.visually-hidden {
  display: none;
}

.h2-like {
  font-size: var(--fontText);
  font-style: var(--StyleText);
}

.header {
  background-color: #f9d2cb;
}

.content {
  background-color: var(--backgroundOrder);
}

/* strong {
  font-weight: var(--fontStyleText);

  @nest p & {
     [TODOLABO]: enkel om @nest  voorbeeld aan te halen, je hoeft niets aan te passen
    color: darkorange;
  }
} */
